{% load comments %}

 <script type="text/javascript" charset="utf-8">

        (function( $ ){
        $.fn.bindPostCommentHandler = function() {
            // We get passed a list of forms; iterate and get a unique id for each
            // attach a submit trigger to handle saving and returning
            this.each(function() {
                //$(this).find('input.submit-preview').remove();
                $(this).submit(function() {
                    commentform = this;
                    commentwrap = $(this).parent();
                    $.ajax({
                        type: "POST",
                        data: $(commentform).serialize(),
                        url: "{% comment_form_target %}",
                        cache: false,
                        dataType: "html",
                        success: function(html, textStatus) {   
                            // Extract the form from the returned html
                            postedcomment = $(html).find('#newly_posted_comment');
                            $(commentform).replaceWith(postedcomment.html());
                            $(commentwrap).hide();
                            $(commentwrap).slideDown(600);
                            $(commentwrap).find('.comment-form form').bindPostCommentHandler();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $(commentform).replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                        }
                    });
                    return false;
                });
            }); //each
        };  
        })( jQuery );


        $(function() {
            $('.comment-form form').bindPostCommentHandler();
        });

</script>