{% extends "social/home.html,base/pjax_base.html"|pjax:request %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}" type="text/javascript" charset="utf-8" ></script>
<script src="{% static "js/endless.js" %}" type="text/javascript" charset="utf-8" ></script>
<script src="{% static "js/endless_on_scroll.js" %}" type="text/javascript" charset="utf-8" ></script>
{% endblock js %}

{% block pjax_container %}
<div class="row-fluid">
  <div class="span12">
    {% include 'social/person_bar_page.html' %}
    <script type="text/javascript" src="{% static "js/follow_callback.js" %}"></script>
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock pjax_container %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript">
  left_nav_highlight('li-followers');
</script>
{% endblock bottom_js %}
