{% extends "base/profile_base.html" %}

{% load avatar_tags %}
{% load staticfiles %}
{% load endless %}
{% load thumbnail %}
{% load kwacros %}

{% loadkwacros "base/macros.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <script type="text/javascript">
      //TODO: It's very dirty code
      function close_1(){
        $('#follow_suggestion_1').remove();
      }
      function close_2(){
        $('#follow_suggestion_2').remove();
      }
      function close_3(){
        $('#follow_suggestion_3').remove();
      }
      function follow_request_callback_1(data){
        alert(data.done);
        close_1();
      }
      function follow_request_callback_2(data){
        alert(data.done);
        close_2();
      }
      function follow_request_callback_3(data){
        alert(data.done);
        close_3();
      }
    </script>
        <ul class="nav nav-tabs nav-stacked left-nav">
          {% block home_active %}
          <li class="active">
            <a href="#"><i class="icon-home"></i> Home</a>
          </li>
          {% endblock home_active%}

          {% block profile_active %}
          <li>
            <a href="{% url 'social:profile' %}"><i class="icon-user"></i> Profile<i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          {% endblock profile_active%}

          {% block followers_active %}
          <li>
            <a href="{% url 'social:followers' %}"><i class="icon-eye-open"></i> Followers 
              <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          {% endblock followers_active%}

          {% block following_active %}
          <li>
            <a href="{% url 'social:following' %}"><i class="icon-heart"></i> Following <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          {% endblock following_active%}

          {% block favorite_books_active %}
          <li>
            <a href="{% url 'social:favorite_books' %}"><i class="icon-star"></i> Favorite Books <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          {% endblock favorite_books_active %}

        </ul>


    <div class="row-fluid">
      <h4 class="sidebox-head">DO YOU KNOW. . .?</h4> 
      <div class="span12 simple_box">


        <!--# TODO : ISSUE #54-->
        <ul class="thumbnails span10 offset1">
          {% for suggestion in suggestion_list %}
            <div class="row-fluid">
              <li class="span3">
              {% usekwacro user_details user_=suggestion placement='top' %}
                  <a href="#" class="thumbnail">
                    {% avatar suggestion %}
                  </a>
              </div>
              </li>
              <div class="span9 suggestion-info">
                {% usekwacro user_details user_=suggestion placement='top' %}
                  <div class="username">
                    <a href="#">{{ suggestion.get_full_name }}</a>
                  </div>
                </div> <!-- user-details -->
                <div class="small-info">
                  2 Mutual friends
                </div>
              </div>
            </div>
          {% empty %}
            <p>Sorry, we have no information about you to suggest other users regarding them!</p>
          {% endfor %}
          {% comment %}<div class="row-fluid">
            <li class="span3">
              <a href="#" class="thumbnail">
                {% avatar suggestion_list.1 %}
              </a>
            </li>
            <div class="span9 suggestion-info">
              <div class="username">
                <a href="#">{{ suggestion_list.1.get_full_name }}</a>
              </div>
              <div class="small-info">
                3 Mutual friends
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <li class="span3">
              <a href="#" class="thumbnail">
                {% avatar suggestion_list.2 %}
              </a>
            </li>
            <div class="span9 suggestion-info">
              <div class="username">
                <a href="#">{{ suggestion_list.2.get_full_name }}</a>
              </div>
              <div class="small-info">
                3 Mutual friends
              </div>
            </div>
          </div>
          {% endcomment %}

        </ul>

          <!--
        <p id='person_box'>
          <div id='follow_suggestion_1'>
            <button class="close" id="close_button_1" onmousedown="close_1()">&times;</button>
            {{ suggestion_list.0 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_1,{'following_id': {{suggestion_list.0.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_2' id="close_button_2" onmousedown="close_2()">
            <button class="close">&times;</button>
            {{ suggestion_list.1 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_2,{'following_id': {{suggestion_list.1.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_3' id="close_button_3" onmousedown="close_3()">
            <button class="close">&times;</button>
            {{ suggestion_list.2 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_3,{'following_id': {{suggestion_list.2.id }}})">Follow</a>
          </div>
          </p>-->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <div class="row-fluid">

      <h4 class="sidebox-head">RECEIVED A BOOK?</h4>
      <div class="span12 simple_box hopping">

        <p>
          Did a book hop to you? Submit the private key here:
        <form class="form-inline" onsubmit="return false;">
          <input type="text" class="input-medium" placeholder="Private Key" autocomplete="off" data-toggle="tooltip" id='id_private_key' > 
      

          <button id='check_primary_key' data-toggle="button" data-loading-text="loading stuff..." class="btn btn-primary" data-complete-text="finished!" onclick="Dajaxice.darkoob.migration.submit_key(submit_private_key_callback,{'private_key': $('#id_private_key').val() })">Submit</button>
        </form>
        <em><a href="{% url 'migration:new_migration' %}">Start a new book migration</a></em>
<!--         <button class="btn btn-large btn-block btn-primary" type="button">Start New Migration</button> -->

        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->

    {% include "base/group_box.html" with admin_groups=admin_groups groups=groups first_name='' %}

    <div class="row-fluid">

      <h4 class="sidebox-head">DEADLINES</h4>
      <div class="span12 simple_box deadlines">
        <div class="accordion" id="deadlines">
          {% for book in book_deadlines %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#deadlines" href="#deadline_details_{{ forloop.counter }}">
                <i class="icon-book"></i> {{ book.0 }}
              </a>
            </div>
            <div id="deadline_details_{{ forloop.counter }}" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul style="margin-left: -1em;">
                  {% for deadline in book.1 %}
                    <li style="display: block">
                      <div class="row-fluid">
                        <div class="span4 offset1">
                          <p style="float: left; display: inline-block; position: relative;">{{ deadline.from_page }} to {{ deadline.to_page }}</p>
                        </div>
                        <div class="span7">
                          <div class="progress 
                            {% if deadline.time_percentage > 90 %}progress-danger
                            {% elif deadline.time_percentage > 60 %}progress-warning
                            {% else %}progress-success{% endif %}">

                            <div class="bar" style="width: {% if deadline.time_percentage < 3 %} 3{% else %}{{ deadline.time_percentage }}{%endif%}%"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span12">
        {% usekwacro top_quote quote_=quote %}
      </div> <!-- span12 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span1">
        <img id="type_0" placeholder="Say it!" class="new-post-icon new-post-icon-active" src="{% static "/static/img/Pen-black-32.png" %}" alt="Text" onclick="change_post_type(0);"/>
        <img id="type_1" placeholder="Share a quote" class="new-post-icon" src="{% static "/static/img/Quote-black-32.png" %}" alt="Quote" onclick="change_post_type(1);" />
        <!-- <img id="post_type_2" class="new-post-icon" src="{% static "/static/img/Cronometer-black-32.png" %}" alt="Deadline" onclick="change_post_type(2)"/> -->
      </div>
      <div class="span11">
        <div class="sidebox">
          <div class="row-fluid">
            <div class="span9 new_post_container">

              <!-- TODO: author suggestion -->

              <!-- start  TODO: this part should load after user click on quote-icon -->
                <link rel="stylesheet" type="text/less" href="{% static "/static/css/typeahead_suggestion_with_photo.css" %}">
                <script src="{% static "/static/js/underscore.min.js" %}"></script>
                <script src="{% static "/static/js/book_typeahead_suggestion.js" %}"></script>
              <!-- end TODO: this part should load after user click on quote-icon -->
              



              <form method="post" action="{% url "social:new_post" %}" id="post_form" type='0'>
                {% csrf_token %}
                {{ new_post_form.text }}
                <div id="quote-detail"  style='display:none;'>
                  {{ new_post_form.book }}
                  {{ new_post_form.author }}
                </div>
              </form>
            </div>
            <div class="span1 new_post_button">
              <button id="post_button" class="btn btn-inverse" onclick="Dajaxice.darkoob.social.submit_post(Dajax.process, {'text': $('#id_text').val(), 'type': $('#post_form').attr('type'), 'book': $('#title-look').val(), 'author':$('#author-look').val()})">Post</button>
            </div>
          </div> <!-- row -->
        </div> <!-- sidebox -->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <h4 class="migrations-link migrations-link-inactive pull-right"><i class="icon-chevron-left"></i>MIGRATIONS</h4>
    <div class="migrations">
      <div class="row-fluid">
        <div class="span12 sidebox">
          <div>
            {% for migration in migrations %}
              <div class="migration">

                <div class="migration-book">
                  <a style="Display:none">{{ migration.book.title }}</a>
                  {% thumbnail migration.book.thumb "50x50" crop="center" as im %}
                    <img rel="tooltip" title="d" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </div> <!-- migration-book -->

                <div class="offset1" style="display: inline-block;">
                  <div class="migration-hop" style="display: inline-block;">
                    <a style="Display:none">{{ migration.starter.get_full_name }}</a>
                    {% avatar migration.starter 30%}
                  </div>

                  {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
                    <i class="icon-chevron-right"></i>
                    <div class="migration-hop" style="display: inline-block;">
                      <a style="Display:none">{{ hop.host.get_full_name }}</a>
                      {% avatar hop.host 30 %}
                    </div>
                  {% endfor %}
                </div>

              </div> <!-- migration -->
            {% endfor %}

            <script type="text/javascript">         

            $('.migration-book, .migration-hop').each(function(){

              $($(this).children()[1]).removeAttr('data-original-title')
              $($(this).children()[1]).attr('title',$(this).children()[0].text)
              $($(this).children()[1]).tooltip({
                'placement': 'bottom'
              });
            });

            </script>
          </div>
        </div> <!-- span12 -->
      </div> <!-- row -->
    </div> <!-- migrations -->

    <div id="id_new_post_position">
    </div>

    <div class="row-fluid">
      <div class="span12">
        {% include 'post/posts.html' %}
      </div>
    </div>

  </div> <!-- span11 -->
</div> <!-- row -->
{% endblock main %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "/static/js/home.js" %}"></script>
{% endblock bottom_js %}
