{% extends "base/profile_base.html" %}

{% load avatar_tags %}
{% load staticfiles %}
{% load endless %}
{% load thumbnail %}
{% load kwacros %}

{% loadkwacros "base/macros.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <script type="text/javascript">
      //TODO: It's very dirty code
      function close_1(){
        $('#follow_suggestion_1').remove();
      }
      function close_2(){
        $('#follow_suggestion_2').remove();
      }
      function close_3(){
        $('#follow_suggestion_3').remove();
      }
      function follow_request_callback_1(data){
        alert(data.done);
        close_1();
      }
      function follow_request_callback_2(data){
        alert(data.done);
        close_2();
      }
      function follow_request_callback_3(data){
        alert(data.done);
        close_3();
      }
    </script>
        <ul class="nav nav-tabs nav-stacked left-nav">
          {% block home_active %}
          <li class="active">
            <a href="#"><i class="icon-home"></i> Home</a>
          </li>
          {% endblock home_active%}

          {% block profile_active %}
          <li>
            <a data-pjax href="{% url 'social:profile' %}">
              <i class="icon-user"></i> Profile<i class="icon-chevron-right" style="float:right"></i>
            </a>
          </li>
          {% endblock profile_active%}

          {% block followers_active %}
          <li>
            <a data-pjax href="{% url 'social:followers' %}"><i class="icon-eye-open"></i> Followers 
              <i class="icon-chevron-right" style="float:right"></i>
            </a>
          </li>
          {% endblock followers_active%}

          {% block following_active %}
          <li>
            <a data-pjax href="{% url 'social:following' %}">
              <i class="icon-heart"></i> Following <i class="icon-chevron-right" style="float:right"></i>
            </a>
          </li>
          {% endblock following_active%}

          {% block favorite_books_active %}
          <li>
            <a data-pjax href="{% url 'social:favorite_books' %}">
              <i class="icon-star"></i> Favorite Books <i class="icon-chevron-right" style="float:right"></i>
            </a>
          </li>
          {% endblock favorite_books_active %}

        </ul>


    <div class="row-fluid">
      <h4 class="sidebox-head">DO YOU KNOW. . .?</h4> 
      <div class="span12 simple_box">


        <!--# TODO : ISSUE #54-->
        <ul class="thumbnails span10 offset1">
          {% for suggestion in suggestion_list %}
            <div class="row-fluid">
              <li class="span3">
              {% usekwacro user_details user_=suggestion placement='top' %}
                  <a href="#" class="thumbnail">
                    {% avatar suggestion %}
                  </a>
              </div>
              </li>
              <div class="span9 suggestion-info">
                {% usekwacro user_details user_=suggestion placement='top' %}
                  <div class="username">
                    <a href="#">{{ suggestion.get_full_name }}</a>
                  </div>
                </div> <!-- user-details -->
                <div class="small-info">
                  2 Mutual friends
                </div>
              </div>
            </div>
          {% empty %}
            <p>Sorry, we have no information about you to suggest other users regarding them!</p>
          {% endfor %}
        </ul>

          <!--
        <p id='person_box'>
          <div id='follow_suggestion_1'>
            <button class="close" id="close_button_1" onmousedown="close_1()">&times;</button>
            {{ suggestion_list.0 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_1,{'following_id': {{suggestion_list.0.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_2' id="close_button_2" onmousedown="close_2()">
            <button class="close">&times;</button>
            {{ suggestion_list.1 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_2,{'following_id': {{suggestion_list.1.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_3' id="close_button_3" onmousedown="close_3()">
            <button class="close">&times;</button>
            {{ suggestion_list.2 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_3,{'following_id': {{suggestion_list.2.id }}})">Follow</a>
          </div>
          </p>-->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <div class="row-fluid">

      <h4 class="sidebox-head">RECEIVED A BOOK?</h4>
      <div class="span12 simple_box hopping">
        <p>
          Did a book hop to you? Submit the private key here:
        <form class="form-inline" onsubmit="return false;">
          <input type="text" class="input-medium" placeholder="Private Key" autocomplete="off" data-toggle="tooltip" id='id_private_key' > 
      

          <button id='check_primary_key' data-toggle="button" data-loading-text="loading stuff..." class="btn btn-primary" data-complete-text="finished!" onclick="Dajaxice.darkoob.migration.submit_key(submit_private_key_callback,{'private_key': $('#id_private_key').val() })">Submit</button>
        </form>
        <em><a href="{% url 'migration:new_migration' %}">Start a new book migration</a></em>
<!--         <button class="btn btn-large btn-block btn-primary" type="button">Start New Migration</button> -->

        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->

    {% usekwacro group_box admin_groups=admin_groups groups=groups first_name='' %}

    {% usekwacro deadline_box book_deadlines=book_deadlines %}

  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span11 offset1">
      <div class="row-fluid">
        <div class="span12">
          {% usekwacro top_quote quote_=quote %}
        </div> <!-- span12 -->
      </div> <!-- row -->
    <div id="pjax-container">
      {% block pjax_container %}
        <script type="text/javascript">
          $(document).ready(function() {
            $.pjax({url: "{% url 'social:home_stream' %}", container: '#pjax-container'});
          });
        </script>
      {% endblock pjax_container %}
    </div> <!-- pjax-container -->
  </div> <!-- span11 -->
</div> <!-- row -->
{% endblock main %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "/static/js/home.js" %}"></script>
{% endblock bottom_js %}
