{% extends "social/home.html,base/pjax_base.html"|pjax:request %}
{% load avatar_tags %}
{% load staticfiles %}
{% load endless %}
{% load thumbnail %}
{% load kwacros %}

{% block pjax_container %}
  <div class="row-fluid">
    <div class="span1">
      <img id="type_0" placeholder="Say it!" class="new-post-icon new-post-icon-active" src="{% static "/static/img/Pen-black-32.png" %}" alt="Text" onclick="change_post_type(0);"/>
      <img id="type_1" placeholder="Share a quote" class="new-post-icon" src="{% static "/static/img/Quote-black-32.png" %}" alt="Quote" onclick="change_post_type(1);" />
      <!-- <img id="post_type_2" class="new-post-icon" src="{% static "/static/img/Cronometer-black-32.png" %}" alt="Deadline" onclick="change_post_type(2)"/> -->
    </div>
    <div class="span11">
      <div class="sidebox">
        <div class="row-fluid">
          <div class="span9 new_post_container">


            <!-- start  TODO: this part should load after user click on quote-icon 


            -->
              <link rel="stylesheet" type="text/less" href="{% static "/static/css/typeahead_suggestion_with_photo.css" %}">
              <script src="{% static "/static/js/underscore.min.js" %}"></script>
              <script src="{% static "/static/js/book_typeahead_suggestion.js" %}"></script> 

            <!-- end TODO: this part should load after user click on quote-icon -->




            <form method="post" action="{% url "social:new_post" %}" id="post_form" type='0'>
              {% csrf_token %}
              {{ new_post_form.text }}
              <div id="new-quote-details"  style='display:none;'>

                {{ new_post_form.author }}

                {{ new_post_form.book }}
                <script src="{% static "/static/js/author_typeahead_suggestion.js" %}"></script> 

              </div>
            </form>
          </div>
          <div class="span1 new_post_button">
            <button id="post_button" class="btn btn-inverse" onclick="Dajaxice.darkoob.social.submit_post(Dajax.process, {'text': $('#id_text').val(), 'type': $('#post_form').attr('type'), 'book': $('#title-look').val(), 'author':$('#author-look').val()})">Post</button>
          </div>
        </div> <!-- row -->
      </div> <!-- sidebox -->
    </div> <!-- span12 -->
  </div> <!-- row -->

  <h4 class="migrations-link migrations-link-inactive pull-right"><i class="icon-chevron-left"></i>MIGRATIONS</h4>
  <div class="migrations">
    <div class="row-fluid">
      <div class="span12 sidebox">
        <div>
          {% for migration in migrations %}
            <div class="migration">

              <div class="migration-book">
                <a style="Display:none">{{ migration.book.title }}</a>
                {% thumbnail migration.book.thumb "50x50" crop="center" as im %}
                  <img rel="tooltip" title="d" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              </div> <!-- migration-book -->

              <div class="offset1" style="display: inline-block;">
                <div class="migration-hop" style="display: inline-block;">
                  <a style="Display:none">{{ migration.starter.get_full_name }}</a>
                  {% avatar migration.starter 30%}
                </div>

                {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
                  <i class="icon-chevron-right"></i>
                  <div class="migration-hop" style="display: inline-block;">
                    <a style="Display:none">{{ hop.host.get_full_name }}</a>
                    {% avatar hop.host 30 %}
                  </div>
                {% endfor %}
              </div>

            </div> <!-- migration -->
          {% endfor %}

          <script type="text/javascript">

          $('.migration-book, .migration-hop').each(function(){

            $($(this).children()[1]).removeAttr('data-original-title')
            $($(this).children()[1]).attr('title',$(this).children()[0].text)
            $($(this).children()[1]).tooltip({
              'placement': 'bottom'
            });
          });

          </script>
        </div>
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- migrations -->

  <div id="id_new_post_position">

  </div>

  <div class="row-fluid">
    <div class="span12">
      {% include 'post/posts.html' with posts=posts request=request only %}
    </div>
  </div>
{% endblock pjax_container %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript">
  left_nav_highlight('li-home');
</script>
{% endblock bottom_js %}
