{% extends "social/home.html,base/pjax_base.html"|pjax:request %}

{% load staticfiles %}
{% load avatar_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
<style type="text/css">
#sex_field{
  Display:none;
}
#birthday_field{
  Display:none;
}
#mobile_field{
  Display:none;
}
#website_field{
  Display:none;
}
.ico-edit{width:22px; height:22px;cursor: pointer;}
</style>
{% endblock css %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />

<script type="text/javascript">
function edit_animation(editbox, hidebox, showbox){
  $(editbox).click(function() {
    $(hidebox).slideUp('normal');
    $(showbox).slideDown('normal');
  });
}
$(function() {
  edit_animation('#edit_sex','#sex_box','#sex_field');
  edit_animation('#edit_birthday','#birthday_box','#birthday_field');
  edit_animation('#edit_mobile','#mobile_box','#mobile_field');
  edit_animation('#edit_website','#website_box','#website_field');
});
</script>

<script>
function edit_sex_callback(data){
  // alert(data.done)
  if (data.done){
    $('#sex_field').slideUp('normal');
    $('#sex_box').slideDown('normal');
    document.getElementById("sex_text").innerHTML = data.sex;	
  }else{
    $.sticky(data.errors);
  }
}

function edit_birthday_callback(data){
  if (data.done) {
    $.sticky('<B> your birthday changed</b>');
    $('#birthday_field').slideUp('normal');
    $('#birthday_box').slideDown('normal');
    document.getElementById("birthday_text").innerHTML = data.birthday;	
  } else {
    $.sticky(data.errors);
  }
}

function edit_mobile_callback(data){
  // alert(data.done)
  if (data.done){
    $.sticky('<B> your mobile changed</b>');
    $('#mobile_field').slideUp('normal');
    $('#mobile_box').slideDown('normal');
    document.getElementById("mobile_text").innerHTML = data.mobile;	
  }else{
    $.sticky(data.errors);
  }
}

function edit_website_callback(data){
  // alert(data.done)
  if (data.done){
    $.sticky('<B> your website changed</b>');
    $('#website_field').slideUp('normal');
    $('#website_box').slideDown('normal');
    document.getElementById("website_text").innerHTML = data.website;	
  }else{
    $.sticky(data.errors);
  }
}

</script>
{% endblock js %}

{% block pjax_container %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox post">
          <br />
          <div class="media">
            <a class="pull-left" href="#">
            {% avatar user 80 %}

            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ user.get_full_name }}</h4>
              <a href="{% url 'avatar_change' %}">Change your avatar</a>    
            </div>
          </div>


          <h4> Basic Information </h4>


          <b>Gender: </b>
          <span id="sex_box">
            <vahid id="sex_text">{{ user.userprofile.sex }}</vahid> <a id="edit_sex"  alt="Edit"><i class="icon-edit"></i></a>
          </span>

          <span id='sex_field'>
            <form class="form-inline">
            {{ form.sex }} <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_sex(edit_sex_callback,{'sex':$('#id_sex').val()})">change</button>
          </form>
          </span>
          <br/>

          <b>Birthday: </b>
          <span id="birthday_box">
            <vahid id='birthday_text'>{{ user.userprofile.birthday}}</vahid><a id="edit_birthday" alt="Edit"><i class="icon-edit"></i></a>
          </span>
          <span id='birthday_field'>
            <br />
            <form class="form-inline">
            {{ form.year }}	{{ form.month}}{{ form.day}}	
            <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_birthday(edit_birthday_callback,{'day':$('#id_day').val(),'year':$('#id_year').val(),'month':$('#id_month').val()} )">change</button>
            </form>
            <br />
          </span>



          <h4> Contact Information </h4>
          <b>Mobile: </b>
          {% if user.userprofile.mobile%}

          <span id="mobile_box">
            <vahid id='mobile_text'>{{ user.userprofile.mobile }}</vahid><a id="edit_mobile" alt="Edit"><i class="icon-edit"></i></a>
          </span>
          <span id="mobile_field">
            <form class="form-inline">
            {{form.mobile}}

            <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_mobile(edit_mobile_callback,{'mobile':$('#id_mobile').val()} )">change</button>
            </form>
          </span>


          {%else%}
          <span id='mobile_text'>
            {{form.mobile}} <!-- // #TODO: Re edit is not work -->
            <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_mobile(edit_mobile_callback,{'mobile':$('#id_mobile').val()} )">change</button>
          </span>
          {%endif%}


          <br />

          <b>Website: </b>
          {% if user.userprofile.website%}

          <span id="website_box">
            <vahid id='website_text'>{{ user.userprofile.website }} </vahid> <a id="edit_website" alt="Edit"><i class="icon-edit"></i> </a>
          </span>
          <span id="website_field">
            <form class="form-inline">
            {{form.website}}

            <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_website(edit_website_callback,{'website':$('#id_website').val()} )">change</button>
            </form>
          </span>


          {%else%}
          <span id='website_text'>
            <form class="form-inline">
              {{form.website}} <!-- // #TODO: Re edit is not work -->
              <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_website(edit_website_callback,{'website':$('#id_website').val()} )">change</button>
            </form>
          </span>
          {%endif%}

<!--           <h4> Educations </h4>
          {% for education in user.userprofile.education_set.all %}

          {{ education.school.name }}
        </br>
        {%endfor%}
        <h4> Location </h4>
        {{ user.userprofile.city }}, {{ user.userprofile.city.country }} -->

      </div> <!-- post -->
    </div> <!-- span12 -->
  </div> <!-- row -->
</div> <!-- span12 -->
</div> <!-- row -->
{% endblock pjax_container %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript">
  left_nav_highlight('li-profile');
</script>
{% endblock bottom_js %}

