{% extends "social/user_profile.html"|pjax:request %}
{% load staticfiles %}

{% block followers_active %}
<li class="active">
  <a><i class="icon-eye-open"></i> Followers 
  </a>
</li>
{% endblock followers_active%}

{% block right_sidebox %}
<h4 class="sidebox-head">{{ person_object.first_name|capfirst }}'s FOLLOWERS</h4>


<div class="row-fluid">
  <div class="span12">

    {% include 'social/person_bar_page.html' %}
      <script type="text/javascript" src="{% static "js/follow_callback.js" %}"></script>

  </div> <!-- span12 -->
</div> <!-- row -->

{% endblock right_sidebox %}