{% extends "social/user_profile.html" %}
{% load staticfiles %}
{% block favorite_book_active %}
<li class="active">
  <a ><i class="icon-star"></i> Favorite Books</a>
</li>
{% endblock favorite_book_active %}

{% block right_sidebox %}
<div class="sidebox post">
  <p>
    <b>{{ person_object.first_name|capfirst }}'s Favorite Books</b>
    {% include 'social/favorite_books_page.html' %}
  </p>

  <script type="text/javascript">
  function star_book_callback(data){
    if (data.done){
      $('#star_btn_'+data.book_id).attr('class','btn btn-success btn-primary disabled')
      $('#star_btn_'+data.book_id).attr('disabled', 'disabled')
      $.pnotify({
        title: 'Favorite',
        text: 'This book added to your favorite book',
        type:'success',
        opacity: .8
      })
    }else{
      $.pnotify({
        title: 'Favorite',
        text: 'An error occured.please try again',
        type:'error',
        opacity: .8
      })
    }
  }
  </script>

</div>
{% endblock right_sidebox %}