{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}
{% block title %}Darkoob - {{ user.get_full_name }} page{% endblock title %}

{% load avatar_tags %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <div class="media">
      <a class="pull-left" href="#">
        {% avatar user 100 %}          
      </a>
      <div class="media-body">
        <h4 class="media-heading">{{user.first_name|capfirst}} {{user.last_name|capfirst}}</h4>
        {{ user.userprofile.sex }}<br />
        {{ user.userprofile.birthday }}<br />
        {{ user.userprofile.city|capfirst }}/{{user.userprofile.city.country|capfirst}}
      </div>
    </div>

    <br />
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <a href="{% url 'social:user_followers' username=user.username %}"><i class="icon-eye-open"></i> Followers 
          <i class="icon-chevron-right" style="float:right"></i></a>
        </li>
        <li>
          <a href="{% url 'social:user_following' username=user.username %}"><i class="icon-heart"></i> Following <i class="icon-chevron-right" style="float:right"></i></a>
        </li>
        <li>
          <a href="{% url 'social:user_favorite_books' username=user.username %}"><i class="icon-star"></i> Favorite Books <i class="icon-chevron-right" style="float:right"></i></a>
        </li>
      </ul>


       <div class="row-fluid">

      <div class="sidebox-head">
        <h4>{{user.first_name|capfirst }}'s Group</h4>
      </div>
      <div class="span12 simple_box">

      </div> <!-- span10 -->
    </div> <!-- row -->



    </div> <!-- span12 -->
  </div> <!-- row -->
  {% endblock sidebar %}

  {% block main %}


  <div class="row-fluid">
    <div class="span12">

      <div class="quote">
        <blockquote>
          <p>{{ user.userprofile.quote.text }}</p>
          {% if user.userprofile.quote.author %}<small>{{ user.userprofile.quote.author }}</small>{% endif %}
          {% if user.userprofile.quote.book %}<small>{{ user.userprofile.quote.book }}</small>{% endif %}
        </blockquote>
      </div>
      {% block right_sidebox %}

      <div class="sidebox-head">
        <h4>Migrations</h4>
      </div>
      <div class="span12 simple_box">


        <p>
          {% for migration in migrations %}
          <hops>
            <hop>
              <a style="Display:none">{{ migration.book.title }}</a>
              {% thumbnail migration.book.thumb "50x50" crop="center" as im %}
              <img rel="tooltip" title="d" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
              <i class="icon-road"></i> 
            </hop>

            <hop>
              <a style="Display:none">{{ migration.starter.get_full_name }}</a>
              {% avatar migration.starter 30%}
            </hop>
            {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
            <i class="icon-chevron-right"></i>


            <hop>
              <a style="Display:none">{{ hop.host.get_full_name }}</a>
              {% avatar hop.host 30 %}
            </hop>
            {% endfor %}


          </hops>
          <br />
          {% endfor %}



          <script type="text/javascript">         

          $('hops hop').each(function(){

            $($(this).children()[1]).removeAttr('data-original-title')
            $($(this).children()[1]).attr('title',$(this).children()[0].text)
            $($(this).children()[1]).tooltip({
              'placement': 'bottom'
            });
          });

          </script>
        </p>

      </div>



      <div class="row-fluid">
        <div class="span12">
          {% include 'post/posts.html' %}
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">


        </div> <!-- span12 -->
      </div> <!-- row -->

      {% endblock right_sidebox %}




    </div> <!-- span12 -->
  </div> <!-- row -->
  {% endblock main %}
