{% extends "social/user_profile.html"|pjax:request %}
{% load staticfiles %}

{% block followers_active %}
<li class="active">
  <a><i class="icon-eye-open"></i> Followers 
  </a>
</li>
{% endblock followers_active%}

{% block right_sidebox %}
<div class="sidebox post">
  <p>
    <b>{{ person_object.first_name|capfirst }}'s Followers</b>
    {% include 'social/person_bar_page.html' %}
  </p>
</div>

<script type="text/javascript" src="{% static "js/follow_callback.js" %}"></script>

{% endblock right_sidebox %}