{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}
{% block title %}User{% endblock title %}

{% load avatar_tags %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Profile Information</legend>
        <p>
          <a href='{% url "avatar_change" %}'>Change your avatar</a>

          {% avatar user %}

          list<br />
          of<br />
          groups
          <h3>
            {{ user}}
          </h3>
          <b> TODO </b>
          <br />
          Followers Link
          Followers Link<br />
          Following Link<br />
          Favorite Book Link<br />
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Groups</legend>
        <p>
          list<br />
          of<br />
          groups
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Books</legend>
        <p>
          TODO: links
          {% for book in favorite_book %}
          {#{% url 'book:book_page' book_id=book.id book_name=book.title %}#}
          <li><a href="TODO">{{ book.title }}</a></li>
          {% endfor %}
          salam
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span12">

    <div class="row-fluid">
      <div class="span12 sidebox">
        <legend>Migrations</legend>
        <p>
          {% for migration in migrations %}
          <hops>
            <hop>
              <a style="Display:none">{{ migration.book.title }}</a>
              {% thumbnail migration.book.thumb "50x50" crop="center" as im %}
              <img rel="tooltip" title="d" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
              <i class="icon-road"></i> 
            </hop>

            <hop>
              <a style="Display:none">{{ migration.starter.get_full_name }}</a>
              {% avatar migration.starter 30%}
            </hop>
            {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
            <i class="icon-chevron-right"></i>


            <hop>
              <a style="Display:none">{{ hop.host.get_full_name }}</a>
              {% avatar hop.host 30 %}
            </hop>
            {% endfor %}


          </hops>
          <br />
          {% endfor %}



          <script type="text/javascript">         

          $('hops hop').each(function(){

            $($(this).children()[1]).removeAttr('data-original-title')
            $($(this).children()[1]).attr('title',$(this).children()[0].text)
            $($(this).children()[1]).tooltip({
              'placement': 'bottom'
            });
          });

          </script>
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->

    <div class="row-fluid">
      <div class="span12">
        <div class="quote">
          <blockquote>
            <p>{{ user.userprofile.quote.text }}</p>
            {% if user.userprofile.quote.author %}<small>{{ user.userprofile.quote.author }}</small>{% endif %}
            {% if user.userprofile.quote.book %}<small>{{ user.userprofile.quote.book }}</small>{% endif %}
          </blockquote>
        </div>
        {% block right_sidebox %}
        <div class="sidebox post">
          <p>
            This is user's first post.
          </p>
        </div>
        {% endblock right_sidebox %}


      </div> <!-- span12 -->
    </div> <!-- row -->



  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock main %}
