{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />

<script type="text/javascript">
var is_recorded_book; 

function callback(data){
  if (data.done){
    is_recorded_book = data.result
    alert('done shod')
  }else{
    alert('please reload page');
  }
}

function check_book(){
    
  // alert ("check book"+is_recorded_book);
  // if (is_recorded_book){
  //   return true;
  // }else{
  //   $.pnotify({
  //     title: 'Error',
  //     text: 'This book not found in darkoob!',
  //     type: 'error',
  //     opacity: .8
  //   })
  //   return false;
  // }
}
</script>

{% endblock js %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox post">
          <h4>I Want to start a new migrtion</h4>
            <form id="myform" action="{% url 'migration:new_migration' %}" method='post'>
              {% csrf_token %}
              {{ form.book_title }}<br />
              {{ form.starter_message }}<br />
              Todo: Accept migration lisence<br />
              <button onclick="Dajaxice.darkoob.migration.is_book(callback, {'book_title': $('#id_book_title').val() });">click</button>
            </form>      
        </div> <!-- post -->
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock %}





