<html>

<!-- {% load bootstrap_toolkit %} -->
<!-- 	{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
	{% endif %} -->
<!--     <form action="" method="post">
    	   {% csrf_token %}
        <table>
            {{ form|as_bootstrap }}
        </table>
        <div class="form-actions">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form> -->
{% load threadedcomments_tags %}

...

<h2>Comments for {{ object.title }}:</h2>

{% render_comment_list for object %}
{% render_comment_form for object %}

    


</html>