{% extends "base/base.html" %}
{% load dajaxice_templatetags %}
{% load bootstrap_toolkit %}

<script>
function my_js_callback(data){
    alert(data.message);
}
function callback(data){
    alert(data.message);
}
</script>

{% block main %}
  <input type="button" onclick="Dajaxice.darkoob.dajaxice_example(my_js_callback)" value="Get message from server!">

  <input type="text" id="text"/>
  <input type="button" onclick="Dajaxice.darkoob.args_example(callback, {'text':$('#text').val()})" value="Send!"/>
  <br />

  <form method="post" action="{% url "social:signup" %}">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

{% endblock main %}

