{% extends "base/base.html" %}
{% load staticfiles %}

  {% block css %}
	<style type="text/css">
		#sex_field{
			Display:none;
		}
		.ico-edit{width:22px; height:22px;cursor: pointer;}

	</style>

  {% endblock %}

  {% block js %}
	<script type="text/javascript">
		function edit_animation(editbox, hidebox, showbox){
			$(editbox).click(function() {
				$(hidebox).slideUp('normal');
				$(showbox).slideDown('normal');
			});
		}
		$(function() {
			edit_animation('#edit_sex','#sex_box','#sex_field');
		});
	</script>



	<script>
function edit_sex_callback(data){
	if (data.done){
			alert(data.done)
	}
	// $.sticky(data.message);
	// if (data.message=="True"){
	// $.sticky('Trueeeeeeeeeeeeeeeee');
		// $('#AboutForm').slideUp('normal');
		// $('#AboutBox').slideDown('normal');
	// document.getElementById("AboutBox").innerHTML=data.about;	
	// }else{
		// $.sticky('Excuseme! a problem occered! please try again later');
	// }
}
</script>
  {% endblock %}




  {% block main %}

<h3>{{ user.get_full_name}} Profile</h3> 
<hr />
<br />


	<div id="sex_box">
		{{ user.userprofile.sex }} <a id="edit_sex"  alt="Edit"><img alt="Edit" src="{%static "img/Edit.ico" %}" class="ico-edit"/></a>
	</div>

	<div id='sex_field'>
		{{ form.sex }} <input type="button" value="change" onmousedown="Dajaxice.darkoob.social.edit_sex(edit_sex_callback,{'sex':$('#day').val()})">
	</div>
	
	<br />
	<br />

	{{ user.userprofile.birthday}} <a id="edit_birthday"> Edit </a>
	<br />
	{{ form.day}}	{{ form.year }}	{{ form.month}}<input type="button" value="change">

	<br />

<h4> Contact Information </h4>
	{{ user.userprofile.mobile }}
	<br />
	<a href='{{ user.userprofile.website }}'>{{ user.userprofile.website }}</a>

<h4> Educations </h4>
	{% for education in user.userprofile.education_set.all %}
		{{ education.school.name }}
		</br>
	{%endfor%}
<h4> Location </h4>
	{{ user.userprofile.city }}, {{ user.userprofile.city.country }}

<h4> Followed </h4>


<h4> Follower </h4>

  {% endblock %}





