{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}



{% block title %}Book{% endblock title %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Groups</legend>
        <p>
          list<br />
          of<br />
          groups
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Books</legend>
        <p>
          some<br />
          books
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="simple-box">
          <p>
          TIMELINE
          </p>
          <div id="star"></div>
          <script type="text/javascript" src="{% static "/static/js/jquery.min.js" %}"></script>
          <script type="text/javascript" src="{% static "/static/js/jquery.raty.min.js" %}"></script>
          <script type="text/javascript">
          function callback(data){
            if (data.done){
            //   $.sticky('<B> your gender changed</b>');
            //   $('#sex_field').slideUp('normal');
            //   $('#sex_box').slideDown('normal');
            //   document.getElementById("sex_text").innerHTML = data.sex; 
            //   }else{
            //   $.sticky(data.errors);
                        alert(data.done);

            }
          }

          $(function(){
          	$.fn.raty.defaults.path='/static/img';
          	$('#star').raty({
              score: {{ rate }},
	          	click: function(score, evt) {
		            Dajaxice.darkoob.book.rate(callback,{'rate':score , 'book_id':{{book_id }} });
		          }
		});
          });
          </script>
        </div>
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span -->
</div> <!-- row -->
{% endblock main %}
