{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}

{% block title %}Darkoob - {{ book.title }}{% endblock title %}


{% block sidebar %}

{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span12">

    <div class="row-fluid">
      <div class="span12 sidebox">
        <div class="media">
          <a class="pull-left" href="#">
            {% thumbnail book.thumb "150x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}          
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{ book.title|capfirst }}</h4>

            <dl>
              <dt>Authors</dt>
              {% for author in book.authors.all %}
              <dd>{{ author.name }}</dd>
              {% endfor %}

              <dt>Publisher</dt>
              <dd>{{ book.publisher.name}}</dd>

              <dt>Language</dt>
              <dd>{{ book.language.name }}

                <dt>Tags</dt>

                <ul class="inline">
                  {% for tag in book.tags.all %}
                  <li>{{tag}}</li>
                  {%endfor %}
                </ul>

              </dl>

              <br/>

              <div id="star"></div>  
              <!-- javascript code for raty -->     
              <script type="text/javascript" src="{% static "/static/js/jquery.raty.min.js" %}"></script>
              <script type="text/javascript">
              function rate_book_callback(data){
                if (data.done){
                     $.pnotify({
                      title: 'Book Rating',
                      text: 'Your rate to this Book recorded',
                      type:'success',
                      opacity: .8
                    })
                }
              }
              $(function(){
                $.fn.raty.defaults.path='/static/img';
                $('#star').raty({
                  score: {{ rate }},
                  click: function(score, evt) {
                    Dajaxice.darkoob.book.rate(rate_book_callback,{'rate':score , 'book_id':{{ book.id }} });
                  }
                });
              });
              </script>              
              <!-- javascript code for raty -->
            </div> <!-- media-body -->
          </div><!-- media -->
        </div> <!-- span10 -->
      </div> <!-- row -->

      <div class="row-fluid">
        <div class="span12">
          <div class="simple-box">
          </div> <!-- span12 -->
        </div> <!-- row -->

    



        {% include 'book/reviews.html' %}

      </div> <!-- span -->
    </div> <!-- row -->
    {% endblock main %}




