{% extends "social/home.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block css %}
{% load avatar_tags %}

{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}

{% block title %}Darkoob - {{ book.title }}{% endblock title %}

{% block main %}
<div class="row-fluid">
  <div class="span12">

    <div class="row-fluid">
      <div class="span12 sidebox">
        <div class="row-fluid" style="margin:10px">

          <div class="span2" >
            <div class="thumb">
              {% thumbnail book.thumb "170x220" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% empty %}
                <img src="{% static "/static/img/default-book.jpg" %}" width="170" height="220"/>
              {% endthumbnail %}  
            </div> <!-- thumb -->
          </div> <!-- span2 -->
          <div class="span10">
            <div class="row-fluid">
              <div class="span8">
                <h4>{{ book.title|capfirst }}</h4>
              </div><!-- span8 -->
              <div class="span4">
                <div id="star" style="margin-top:10px"></div>  
                  <!-- javascript code for raty -->     
                  <script type="text/javascript" src="{% static "/static/js/jquery.raty.min.js" %}"></script>
                  <script type="text/javascript">
                    function rate_book_callback(data){
                      if (data.done){
                       $.pnotify({
                        title: 'Book Rating',
                        text: 'Your rate to this Book recorded',
                        type:'success',
                        opacity: .8
                      })
                     }
                    }
                    $(function(){
                      $.fn.raty.defaults.path='/static/img';
                      $('#star').raty({
                        score: {{ rate }},
                        click: function(score, evt) {
                          Dajaxice.darkoob.book.rate(rate_book_callback,{'rate':score , 'book_id':{{ book.id }} });
                        }
                      });
                    });
                  </script>
                  <!-- javascript code for raty -->
              </div><!-- span4 -->
            </div><!-- row-fluid -->
              <b>Author(s):</b>
              {% for author in book.authors.all %}
                {{ author.name|capfirst }}{% if not forloop.last %}, {% endif %}
              {% endfor %}<br/>
              <b>Publisher:</b>
              {% if book.publisher %}
                {{ book.publisher.name}}
              {% endif %}
          </div><!-- span10 -->
        </div><!-- row-fluid -->

        <div class="row-fluid" style="margin:10px">
          <div class="span10">
              <i class="icon-tags"></i>
            <b>Tags:</b>
            {% for tag in book.tags.all %}
              {{ tag|lower }}{% if not forloop.last %}, {% endif %}
            {%endfor %}
          </div><!-- span10 -->
          <div class="span2">
            {% if book in request.user.userprofile.favorite_books.all %}
              <button class="btn btn-success btn-primary disabled" disabled="disabled" href="#" style="float:left"><i class="icon-star"></i></button>
            {% else %}
              <button class="btn btn-success btn-primary" href="#" style="float:left"><i class="icon-star"></i></button>
            {% endif %}
          </div><!-- span2 -->
        </div> <!-- row-fluid -->

      </div> <!-- span12 sidebox -->
    </div> <!-- row -->


    <h4 class="migrations-link migrations-link-inactive pull-right"><i class="icon-chevron-left"></i>MIGRATIONS</h4>
      <div class="migrations">
        <div class="row-fluid">
          <div class="span12 sidebox">
            <div>
              {% for migration in migrations %}
                <div class="migration">



                  <div style="display: inline-block;">
                    <div class="migration-hop" style="display: inline-block;">
                      <a style="Display:none">{{ migration.starter.get_full_name }}</a>
                      {% avatar migration.starter 30%}
                    </div>

                    {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
                      <i class="icon-chevron-right"></i>
                      <div class="migration-hop" style="display: inline-block;">
                        <a style="Display:none">{{ hop.host.get_full_name }}</a>
                        {% avatar hop.host 30 %}
                      </div>
                    {% endfor %}
                  </div>

                </div> <!-- migration -->
              {% endfor %}

              <script type="text/javascript">         

              $('.migration-book, .migration-hop').each(function(){

                $($(this).children()[1]).removeAttr('data-original-title')
                $($(this).children()[1]).attr('title',$(this).children()[0].text)
                $($(this).children()[1]).tooltip({
                  'placement': 'bottom'
                });
              });

            </script>
          </div>
        </div> <!-- span12 -->
      </div> <!-- row -->
    </div> <!-- migrations -->




    <h4 class="sidebox-head">WRITE A REVIEW</h4>
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox">
          <div class="row-fluid">
            <div class="span9 new_post_container">              

              <form method="post" action="" id="post_form" type='0'>
                {{ new_review_form.text }}
                {{ new_review_form.title }}
              </form>
            </div>
            <div class="span1 new_post_button">
              <button id="post_button" class="btn btn-inverse" onclick="Dajaxice.darkoob.book.submit_review(Dajax.process, {'book_id':{{ book.id }}, 'text': $('#id_text').val(), 'title': $('#id_title').val()})">Post</button>
            </div>
          </div> <!-- row -->
        </div> <!-- sidebox -->
      </div> <!-- span11 -->
    </div> <!-- row-fluid -->


    <h4 class="sidebox-head">REVIEWS</h4>
    {% include 'book/reviews.html' %}

  </div> <!-- span12 -->
</div> <!-- row-fluid -->
{% endblock main %}




