{% load endless %}

{% load staticfiles %}
{% paginate 1,1 reviews %}
  {% if not reviews %}
     <h5>Not found any review for this book. You can be the first!</h5>
  {% else%}
    {% for review in reviews %}
      {% include 'book/review.html' with review=review only %}
    {% endfor %}
  {% endif %}
<!-- javascript code for raty -->     
<script type="text/javascript" src="{% static "/static/js/jquery.raty.min.js" %}"></script>
<script type="text/javascript">
function review_callback(data){
  if (data.done){
    $.pnotify({
      title: 'Review Rating',
      text: 'Your rate to this review recorded',
      type:'success',
      opacity: .8
    })
  }
}
function load_starts(){
  $.fn.raty.defaults.path='/static/img';
  $('.star').each(function(){
    {
        $(this).raty({
        score: $(this).attr('current_rate'),
        click: function(score, evt) {
          Dajaxice.darkoob.book.review_rate(review_callback,
          {
            'rate':score, 
            'review_id': $(this).attr('review_id'), 
            });
          }
        });
    }
  })
};
load_starts();
</script>              
<!-- javascript code for raty -->

{% show_more "Get More" "Please Wait" %}