@import "common_style.less";

.details {
  .dark-link;

  margin-top: .3em;
  margin-bottom: 1.5em;
  color: darken(@border, 60%);
  font-weight: bold;

  h4 {
    margin-top: .3em;
    margin-bottom: 0;
  }
}

.group-details {
  .thumb {
    border: 2px solid white;
    .box-shadow(darken(@border, 7%); 0 0 10px);
  }

  .stats {
    display: inline-block;
    margin-top: .8em;
    margin-left: .3em;

    .info-block {
      display: inline-block;
      float: left;
      margin: 0;
      padding-right: .3em;
      border-right: 1px solid @dark_grey;
      padding-left: .3em;

      background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAXGjEh8YyD7LEwAzAFJggTgHJAAAE+uAzjGgU3wAAAAAElFTkSuQmCC
      ) repeat;
      background-origin: content-box;
    }

    button {
      margin-top: -.2em;
    }

    .info-block:last-child {
      border-right: 0;
    }
  }
}
