@import "common_style.less";

.post_head {
  margin-top: .5em;

  .thumb {
    width: 3.4em;
    height: 3.4em;
    padding: 2px 2px 2px 2px;
    background-color: white;
    border: 1px solid darken(@border, 10%);
    .border-radius(3px);
    margin-left: 1em;
    display: inline;
    float: left;
  }
  
  .post-head-box {
  //  background-color: @light_grey;
    display: inline;
    height: 2.4em;
   // border: 1px solid @border;
    border-left: 0;
    float: left;
    margin-top: .7em;
    padding-right: 5em;
  }

  .username {
    margin-top: .5em;
    margin-left: .3em;
    font-family: sans-serif;
    display: inline;
    font-size: 1em;

    a {
      color: @dark_grey;
    }
    
    a:hover {
      color: darken(#08c, 15%);//lighten(@dark_grey, 20);
    }
  }

  .submitted_time {
    padding-left: .4em;
    margin-top: -.5em;
    font-size: .8em;
  }
}

.post_content {
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
  font-family: Courier;
  font-size: .9em;
}

.noks {
  display: inline;
  margin-top: 1em;
  font-size: .9em;
  font-family: serif;
}

.main-post {
    width:95%;
    margin-left: 1em;;
    margin-right:4px;
    height:100px;
    background-color:#FF00;
}

.post-header {
    background-color:#FFF;
    width:90%;
    margin-left:20px;
    margin-right:20px;
    height:100px;
}

.author {
    width:120px;
    height:100px;
    background-color: @middle_grey;
}

.author-img {
    width:80px;
    height:80px;
    background-color:#FFF;
}

.author-name {
    color:#CCCC00;
}

.title {
    float:right;
    font-size:40px;
    margin-right:20px;
    width:350px;
    background-color:#999;
}

.title-des {
    font-size:20px;
}

.post-detail {

}

.content {
    margin-top:5px;
    width:90%;
    background-color:#FFF;
    margin-left:20px;
    margin-right:20px;
    height: 1.8em;
}


