@import "common_style.less";

.post_head {
  margin-top: 1em;

  .thumb {
    margin-left: 1em;
    background-color: @light_grey;
    border: 1px solid darken(@middle_grey, 3);
    width: 4em;
    height: 4em;
  }
  .username {
    margin-left: 1em;
  }
}

.main-post {
    width:95%;
    margin-left:4px;
    margin-right:4px;
    height:100px;
    background-color:#FF00;
}

.post-header {
    background-color:#FFF;
    width:90%;
    margin-left:20px;
    margin-right:20px;
    height:100px;
}

.author {
    width:120px;
    height:100px;
    background-color: @middle_grey;
}

.author-img {
    width:80px;
    height:80px;
    background-color:#FFF;
}

.author-name {
    color:#CCCC00;
}

.title {
    float:right;
    font-size:40px;
    margin-right:20px;
    width:350px;
    background-color:#999;
}

.title-des {
    font-size:20px;
}

.post-detail {

}

.content {
    margin-top:5px;
    width:90%;
    background-color:#FFF;
    margin-left:20px;
    margin-right:20px;
    height: 1.8em;
}

.noks {
  margin: 0 0 0 0;
}

.nok_btn {
  margin-left: -.2em;
  cursor: pointer;
}
