@import "common_style.less";

.navbar-inner {
  .border-radius(0 0 3px 3px);

  .dropdown {
    img {
      .thumb;
      margin-top: -.6em;
      margin-bottom: -.4em;
    }

    .caret {
      margin-top: .5em;
    }
  }
}


.logo {
  font-weight: bold;
  font-family: Courier;
  font-size: 1.1em;
  color: @light_grey;
  text-shadow: 1px 1px 1px lighten(@dark_grey, 30%);
}

.search_form {
  margin-top: .3em;
  margin-bottom: .2em;
  padding-left: 1.5em;
}

#structure {
  padding-top: 1em;
}

#main {
  margin-bottom: 2em;
}

.user-details {
  width: 15em;
  height: 15em;

  .row-fluid:first-child {
    width: 100%;
    
    img {
      display: block;
      //margin-left: 4.5em;
      margin: auto;
    }
  }

  .row-fluid:nth-child(2) {
    display: inline-block;
    text-align: center;
    word-wrap: break-word;

    h4 {
      margin-bottom: -.2em;
    }
    
    small {
      display: inline-block;
    }

    em {
      display: block;
      margin-top: .5em;
    }
  }

}
