<!DOCTYPE html>
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load bootstrap_toolkit %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html" charset=UTF-8">

  <script type="text/javascript" src="{% static "/static/js/jquery-1.9.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "/static/js/jquery.validate.min.js" %}"></script>
  <script type="text/javascript" src="{% static "/static/bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
  {% dajaxice_js_import %}
  <script type="text/javascript">
  function calculate(){
      Dajaxice.examples.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
  }
  </script>

  {% block js %}
  {% endblock %}

  <link rel="stylesheet" type="text/css" media="screen" href="{% static "/static/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static "/static/bootstrap/css/bootstrap-responsive.min.css" %}">
  {% block css %}
  {% endblock %}
</head>
<body>
  {% block body %}
  {% endblock body %}
  <!--  <em>{% block footer %}کلیه حقوق این سایت متعلق به استاد حسن نادری می باشد! {% endblock %}</em> -->
</body>
</html>
