<!DOCTYPE html>
{% load dajaxice_templatetags %}
{% load bootstrap_toolkit %}
<html>
<head>
  <title> {% block title %}{% endblock %}</title>
  {% load dajaxice_templatetags %}
  {% dajaxice_js_import %}

  {% bootstrap_stylesheet_tag %}
  {% bootstrap_stylesheet_tag "responsive" %}
  {% bootstrap_javascript_tag %}

  <script type="text/javascript">
  function calculate(){
      Dajaxice.examples.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
  }
  </script>
</head>
<body>

  <h1> {% block top %}{% endblock %} </h1>

  {% block main %}


  {% endblock %}


  <b>{% block footer %}کلیه حقوق این سایت متعلق به استاد حسن نادری می باشد! {% endblock %}</b>
</body>
</html>
