<div class="row-fluid">
  <h4 class="sidebox-head">GROUPS</h4>
  <div class="span12 simple_box groups">
    {% if not admin_groups|length == 0 %}
    <p>{% if first_name != '' %}{{ first_name }}{% else %}You{% endif %} own</p>
    <ul>
      {% for group in admin_groups %}
      <li>
        <a href="{% url 'group:group_page' group_id=group.id group_name=group.name %}"><i class="icon-th"></i> {{ group.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if not groups|length == 0 %}
    <p>{% if first_name != '' %}{{ first_name }} is {% else %} You are {% endif %} a member of</p>
    <ul>
      {% for group in groups %}
      <li>
        <a href="{% url 'group:group_page' group_id=group.id group_name=group.name %}"><i class="icon-th"></i> {{ group.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <em><a href="{% url 'group:create_group' %}">create a new group</a></em>
  </div> <!-- span12 -->
</div> <!-- row -->