{% load avatar_tags %}
{% load kwacros %}

{% kwacro user_details user_=user placement='right' %}
  <div class="user" data-container="body" data-placement="{{ placement }}"
    data-content='
    <div class="user-details">
      <div class="row-fluid">
        <div class="span12">
          {% avatar user_ %}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <h4>{{ user_.get_full_name }}</h4>
          <small>@{{ user_.username }} &lt{{ user_.email }}&gt</small>
          <blockquote>
            <em>{{ user_.userprofile.quote }}</em>
          </blockquote>
        </div>
      </div>
    </div>
    '>
{% endkwacro %}

{% kwacro top_quote quote_=quote %}
  <div class="top-quote">
    <blockquote quote-id="{{ quote.id }}">
      <p id="quote_text">{{ quote.text }}</p>
      <small id="quote_detail">
        {{ quote.author }}{% if quote.book %} ({{ quote.book }}){% endif %}
      </small>

      <i data-toggle="tooltip" id="set-quote-icon" class="icon-ok pull-right"
        onclick="javascript:Dajaxice.darkoob.social.set_my_quote(
        set_my_quote_callback, {'quote_id': $('.top-quote blockquote').attr('quote-id') })">
      </i>
      <i data-toggle="tooltip" id="get-quote-icon" class="icon-play pull-right"
        onclick="Dajaxice.darkoob.social.get_quote(Dajax.process,{})">
      </i> 
    </blockquote>
  </div> <!-- top-quote -->

{% endkwacro %}

{% kwacro simple_quote post_=post %}
  <!-- used in post.html -->
  <blockquote>
    <p id="quote_text">{{ post.text }}</p>
    <small id="quote_detail">
      {{ post.author }}{% if post.book %} ({{ post.book }}){% endif %}
    </small>

  </blockquote>
{% endkwacro %}
