{% load avatar_tags %}
{% load kwacros %}

{% kwacro user_details user_=user placement='right' %}
  <div class="user" data-container="body" data-placement="{{ placement }}"
    data-content='
    <div class="user-details">
      <div class="row-fluid">
        <div class="span12">
          {% avatar user_ %}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <h4>{{ user_.get_full_name }}</h4>
          <small>@{{ user_.username }} &lt{{ user_.email }}&gt</small>
          <blockquote>
            <em>{{ user_.userprofile.quote }}</em>
          </blockquote>
        </div>
      </div>
    </div>
    '>
{% endkwacro %}

{% kwacro top_quote quote_=quote %}
  <div class="top-quote">
    <blockquote quote-id="{{ quote_.id }}">
      <p id="quote_text">{{ quote_.text }}</p>
      <small id="quote_detail">
        {{ quote_.author }}{% if quote_.book %} ({{ quote_.book }}){% endif %}
      </small>

      <i data-toggle="tooltip" id="set-quote-icon" class="icon-ok pull-right"
        onclick="javascript:Dajaxice.darkoob.social.set_my_quote(
        set_my_quote_callback, {'quote_id': $('.top-quote blockquote').attr('quote-id') })">
      </i>
      <i data-toggle="tooltip" id="next-quote-icon" class="icon-circle-arrow-right pull-right"
        onclick="Dajaxice.darkoob.social.get_quote(Dajax.process,{})">
      </i> 
    </blockquote>
  </div> <!-- top-quote -->

{% endkwacro %}

{% kwacro group_box admin_groups=admin_groups groups=groups first_name='' %}
  <div class="row-fluid">
    <h4 class="sidebox-head">GROUPS</h4>
    <div class="span12 simple_box groups">
      {% if not admin_groups|length == 0 %}
      <p>{% if first_name != '' %}{{ first_name }} is{% else %}You are{% endif %} the admin of</p>
      <ul>
        {% for group in admin_groups %}
        <li>
          <a href="{% url 'group:group_page' group_id=group.id group_slug=group.name|slugify %}"><i class="icon-th"></i> {{ group.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if not groups|length == 0 %}
      <p>{% if first_name != '' %}{{ first_name }} is {% else %} You are {% endif %} a member of</p>
      <ul>
        {% for group in groups %}
        <li>
          <a href="{% url 'group:group_page' group_id=group.id group_slug=group.name|slugify %}"><i class="icon-th"></i> {{ group.name }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <em><a href="{% url 'group:create_group' %}">create a new group</a></em>
    </div> <!-- span12 -->
  </div> <!-- row -->
{% endkwacro %}

{% kwacro simple_quote post_=post %}
  <!-- used in post.html -->
  <blockquote>
    <p id="quote_text">{{ post.text }}</p>
    <small>
      {{ post.author }}{% if post.book %} ({{ post.book }}){% endif %}
    </small>
    <i data-toggle="tooltip" id="set-quote-icon" class="icon-ok pull-right"
        onclick="javascript:Dajaxice.darkoob.social.set_my_quote(
      set_my_quote_callback, {'quote_id': {{ post.id}} })">
    </i>
  </blockquote>

{% endkwacro %}

{% kwacro deadline_box book_deadlines=book_deadlines is_admin=False %}
  
  {% if book_deadlines|length > 0 or is_admin %}
  <div class="row-fluid">
    <h4 class="sidebox-head">DEADLINES</h4>
    <div class="span12 simple_box deadlines">
      <div class="accordion" id="deadlines">
        {% for book in book_deadlines %}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#deadlines" href="#deadline_details_{{ forloop.counter }}">
              <i class="icon-book"></i> {{ book.0 }}
            </a>
          </div>
          <div id="deadline_details_{{ forloop.counter }}" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul style="margin-left: -1em;">
                {% for deadline in book.1 %}
                  <li style="display: block">
                    <div class="row-fluid">
                      <div class="span4 offset1">
                        <p style="float: left; display: inline-block; position: relative;">{{ deadline.from_page }} to {{ deadline.to_page }}</p>
                      </div>
                      <div class="span7">
                        <div class="progress 
                          {% if deadline.time_percentage > 90 %}progress-danger
                          {% elif deadline.time_percentage > 60 %}progress-warning
                          {% else %}progress-success{% endif %}">

                          <div class="bar" style="width: {% if deadline.time_percentage < 3 %} 3{% else %}{{ deadline.time_percentage }}{%endif%}%"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if is_admin %}
      <em><a href="#">add new schedule</a></em>
      {% endif %}
    </div> <!-- span10 -->
  </div> <!-- row -->
  {% endif %}
{% endkwacro %}
