{% extends "base/base.html" %}
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load avatar_tags %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/posts_style.less" %}">
{% endblock css %}

{% block js %}
<script src="{% static "js/endless.js" %}" type="text/javascript" charset="utf-8" ></script>
<script src="{% static "js/endless_on_scroll.js" %}" type="text/javascript" charset="utf-8" ></script>
<script type="text/javascript" charset="utf-8" src="{% static "/static/js/holder.js" %}"></script>
<script type="text/javascript" charset="utf-8">
    var endless_on_scroll_margin = 1;
</script>
<script type="text/javascript" src="{% static '/static/js/post.js' %}"></script>
{% endblock js %}

{% block title %}Homepage{% endblock title %}

{% block body %}
<script>
  function show_search_res(data) {
    if (!$("#search_results").length) {
      var lis = '<ul id="search_results" class="dropdown-menu" role="menu" aria-labelledby="sLabel">';
      for (i = 0; i < data['users'].length; i += 1) {
        lis = lis + '<li><a href="#">' + data['users'][i][0] + " &lt;" + data['users'][i][1] + "&gt;" + "</a></li>";
      }
      lis += '</ul>'
      $('#search').after(lis);
    }
  }
</script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand pull-left logo" href="{% url "social:home" %}">Darkoob</a>
            <form class="nav-search search_form pull-left" onSubmit="Dajaxice.darkoob.args_example(
              show_search_res, {'text':$('#search').val()})">
              <ul class="nav">
                <li>
                <input id="search" type="text" class="search-query input-xlarge dropdown-toggle"
                data-toggle="dropdown" autocomplete="off"
              onBlur="Dajaxice.darkoob.args_example(
              show_search_res, {'text':$('#search').val()})"
              placeholder="Search">
              <!--<ul id="search_results" class="dropdown-menu" role="menu" aria-labelledby="sLabel">
              </ul>-->
            </form>
            </li>
          </ul>
            <ul class="nav pull-right ">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                  {{ user.get_full_name }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="{% url "social:profile" %}"><i class="icon-user"></i> Profile</a></li>
                  <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                  <li><a href="{% url "social:logout" %}"><i class="icon-off"></i> Logout</a></li>
                </ul>
              </li> <!-- dropdown -->
              {% avatar user 30 %}
            </ul> <!-- nav -->
          </div> <!-- container -->
        </div> <!-- navbar-inner -->
      </div> <!-- navbar -->
    </div> <!-- span -->
  </div> <!-- row -->
  <div class="row-fluid" id="structure">
    <div class="span12">
      <div class="row-fluid">
        <div class="span3 offset2">
          {% block sidebar %}
          {% endblock sidebar %}
        </div> <!-- span4 -->
        <div class="span5 " id="main">
          {% block main %}
          {%endblock main %}
        </div> <!-- span6 -->
      </div> <!-- row1 -->
    </div> <!-- span12 -->
  </div> <!-- row0 -->

</div> <!-- container -->
{% endblock body %}
