{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/profile_base_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}



{% block title %}Group{% endblock title %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Groups</legend>
        <p>
          list<br />
          of<br />
          groups
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span10 sidebox">
        <legend>Books</legend>
        <p>
          some<br />
          books
        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="simple-box">
          <p>
          TIMELINE
          </p>
          <form action='{% url "group:create_group" %}' method='post'>
           {% csrf_token %}
           {{ form.name }}
           <input type="submit" value="Submit">
          </form>
          <script type="text/javascript">
            $(document).ready(function() {
              $("#user-look").typeahead({
                source: function (query, process) {
                  return $.get('/group/look/', {  query: query }, function (data) {
                    return process(data.options);
                  });
                }   
              });
            });

            function close_added_user(added_user)
            {
              $(added_user).remove();
              
            }
          </script>
          <div id="added-users"></div>
          <input type="text" id="user-look" data-provide='typeahead' />
          <script type="text/javascript">
            function is_user_callback(data)
            {
              if (data.is_exist) {
                $('#added-users').append('<div id='+$('#user-look').val()+'><p> '+$('#user-look').val()+'</p><button class="close" id="close_button" onmousedown="close_added_user(\'#'+$('#user-look').val()+'\')">&times;</button><a onmousedown="close_added_user(\'#'+$('#user-look').val()+'\')"></a></div>');
              } else {
                $.pnotify({
                  title: 'Not Exist',
                  text: 'Wrong username , be sure what you looking for!',
                  type: 'error',
                  opacity: .8
                });
              }
            }
            $('#user-look').keypress(function(e) {
              if(e.which == 13) {
                Dajaxice.darkoob.social.is_user(is_user_callback, {'username': $('#user-look').val()});
              }
            });
          </script>
        </div>
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span -->
</div> <!-- row -->
{% endblock main %}
