{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}



{% block title %}Group{% endblock title %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <h4 class="sidebox-head">DETAILS</h4>
      <div class="span10 sidebox">
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <h4 class="sidebox-head">SCHEDULES</h4>
      <div class="span10 sidebox">
        
      </div> <!-- span10 -->
    </div> <!-- row -->
     <div class="row-fluid">
      <h4 class="sidebox-head">Members</h4>
      <div class="span10 sidebox">
          <ul>
            <li><a>{{ group.admin }}</a></li>
            {% for member in group.members.all %}
              <li><a>{{ member }}</a></li>
            {% endfor %}
          </ul>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span12">
        <div class="top-quote">
          <blockquote>
            <p>{{ quote.text }}</p><!-- Those who mind don't matter, and those who matter don't mind. -->
            {% if quote.author %}
              <small>
                {{ quote.author }}{% if quote.book %} ({{ quote.book }}){% endif %}
              </small>
            {% endif %}<!-- Bernard M. Baruch -->
            
            <a href="#"
              onclick="javascript:Dajaxice.darkoob.social.set_my_quote(
              set_my_quote_callback, {'quote_id': {{ quote.id }} })">
              <i data-toggle="tooltip" id="set_quote" class="icon-ok pull-right">
              </i>
            </a>
          </blockquote>
        </div> <!-- top-quote -->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <div class="row-fluid">
      <div class="span12">
        <div class="simple-box">
        </div>
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span -->
</div> <!-- row -->
{% endblock main %}
