{% extends "base/profile_base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load avatar_tags %}
{% load kwacros %}
{% loadkwacros "base/macros.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
<link rel="stylesheet" type="text/less" href="{% static "/static/css/page.less" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block title %}Group{% endblock title %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs nav-stacked left-nav">
      <li>
        <a href="{% url 'group:members' %}"><i class="icon-user"></i> Members<i class="icon-chevron-right" style="float:right"></i></a>
      </li>

      <li>
        <a href="{% url 'group:schedules' %}"><i class="icon-tasks"></i> Schedules
          <i class="icon-chevron-right" style="float:right"></i></a>
      </li>
    </ul>
    {% usekwacro deadline_box book_deadlines=book_deadlines is_admin=is_admin%}
     <div class="row-fluid">
      <h4 class="sidebox-head">MEMBERS</h4>
      <div class="span12 simple_box members">
        <ul class="thumbnails">
          {% for member in group.members.all|slice:":10" %}
            <li class="span2">
              {% usekwacro user_details user_=member placement='top' %}
                <a class="thumbnail">{% avatar member %}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span12">
        {% usekwacro top_quote quote_=group.quote %}
      </div> <!-- span12 -->
    </div> <!-- row -->

    <div class="row-fluid">
      <div class="span12">
        <div class="details group-details">
          <div class="row-fluid">
            <div class="span2">
              <div class="thumb">
                {% thumbnail group.thumb "100x100" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                {% empty %}
                  <img src="{% static "/static/img/default-group.png" %}" width="100" height="100"/>
                {% endthumbnail %}
              </div>
            </div>
            <div class="span10">
              <div class="row-fluid">
                <div class="span5">
                  <h4>{{ group.name }}</h4>
                </div>
              </div>
                
              <div class="row-fluid stats">
                <div class="span10">
                  <div class="info-block"><a href="{% url 'group:members' %}">{{ group.members.all|length }} members</a></div>
                  <div class="info-block"><a href="{% url 'group:schedules' %}">{{ group.schedules|length }} schedules</a></div>
                  <div class="info-block"><a href="{% url 'group:schedules' %}">{{ group.deadlines|length }} deadlines</a></div>
                </div>
                <div class="span1 offset1">
                  <button id="group-toggle-btn" class="btn btn-primary btn-mini pull-right"
                    onclick="Dajaxice.darkoob.group.group_toggle(group_toggle_cb,
                    {group_id: {{ group.id }},
                    user_id: {{ user.id }},
                    is_member: {% if is_member %}true{% else %}false{% endif %}})">
                    {% if is_member %}Leave{% else %}Join{% endif %}
                  </button>

              </div>
            </div> <!-- span10 -->
          </div> <!-- row -->
        </div> <!-- details -->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <script type="text/javascript">
      function change_group_post_type(type){
          $('#group_post_form').toggle();
          $('#group_schedule_form').toggle();
        $('.new-post-icon').each(function(index,value){
          if (index==type){
            $(this).attr('class','new-post-icon new-post-icon-active');
          }else{
            $(this).attr('class','new-post-icon');
          }
        })
      }
    </script>

    <div class="row-fluid">
      <div class="span1">
        <img class="new-post-icon new-post-icon-active" src="{% static "/static/img/Pen-black-32.png" %}" alt="Text" onclick="change_group_post_type(0);" />
        <img class="new-post-icon" src="{% static "/static/img/Cronometer-black-32.png" %}" alt="Deadline" onclick="change_group_post_type(1);"/>
      </div>
      <div class="span11">
        <div class="sidebox">
          <div id="group_post_form" class="row-fluid">
            <div class="span9 new_post_container">
              <form  method="post" action="{% url "social:new_post" %}">
                {% csrf_token %}
                {{ new_post_form.text }}
              </form>
            </div>
            <div class="span1 new_post_button">
              <button class="btn btn-inverse" onclick="Dajaxice.darkoob.group.submit_post(Dajax.process, {'text': $('#id_text').val(), 'group_id': {{ group.id }} })">Post</button>
            </div>
          </div> <!-- row -->

          <div id="group_schedule_form" class="row-fluid" style="Display:None">
            <div class="span9 new_post_container">
              <form  method="post" action="{% url "social:new_post" %}">
                {% csrf_token %}
                {{ new_schedule_form.book }}
              </form>
            </div>
            <div class="span1 new_post_button">
              <button class="btn btn-inverse" onclick="Dajaxice.darkoob.group.submit_post(Dajax.process, {'text': $('#id_text').val(), 'group_id': {{ group.id }} })">SCHEDULE</button>
            </div>
          </div> <!-- row -->

        </div> <!-- sidebox -->
      </div> <!-- span11 -->
    </div> <!-- row -->


      <div id="id_new_post_position">
      </div>

    <div class="row-fluid">
      <div class="span12">
        {% include "post/posts.html" %}
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span -->
</div> <!-- row -->
{% endblock main %}

{% block bottom_js %}
{{ block.super }}
<script type="text/javascript" src="{% static "/static/js/group.js" %}"></script>
{% endblock bottom_js %}
